.menu{
    background-color:red;
    display: flex;
    justify-content: space-between;
    ul {display: flex;
        li{
            list-style: none;
            cursor: pointer;
            margin-left: 20px;
        }
        .active{
            color:greenyellow;
        }
    }
    .sorting{
        margin-right: 30px;
        display: flex;     
        align-items: center;
        width: 220px;
        span{
            color: rgb(255, 129, 11);
            font-weight: 800;
            margin-left: 5px;
            border-bottom: 1px dotted rgb(255, 129, 11);
            cursor: pointer;
        }
    }
}