.menu{
    background-color:red;
    display: flex;
    justify-content: space-between;
    ul {display: flex;
        li{
            list-style: none;
            cursor: pointer;
            margin-left: 20px;
        }
        .active{
            color:greenyellow;
        }
    }
    .shoppingCart{
        background-color: yellow;
        margin-right: 30px;
    }
}