.popupSort{
    background-color: rgb(243, 243, 243);
    position: absolute;
    margin-top: 140px;
    margin-left: 80px;
    z-index: 999;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(177, 230, 178);
    color:rgb(255, 129, 11);
    font-weight: 800;

    ul{
        display: flex;
        flex-direction: column;    
        align-items: center;
        margin: 0 auto;
        padding-left: 0px;
        padding: 10px;
        .active{
            color: rgb(203, 103, 10);
        }
        li{
            width: 100%;
            margin: 0 auto;
            &:hover{
                color: rgb(203, 103, 10);
            }
            
        }
    }
}
