body:has(.bigTicketWrapper){
    overflow-y: hidden;
}
.bigTicketWrapper{
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;  
    z-index: 800;
    background-color: rgba($color: #e5e09976, $alpha: 0.1);

    .bigTicket{
        width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    background-color: rgb(243, 243, 239);
    }
}